
@import url('./reset.css');
@import url('./lightbox');
@import url('./loader');
@import url('./search-form');
@import url('./gallery');

@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
}