
@import url('./reset.css');
@import url('./lightbox.css');
@import url('./load-more.css');
@import url('./loader.css');
@import url('./search-form.css');
@import url('./gallery.css');

@import "izitoast/dist/css/iziToast.min.css";
@import "simplelightbox/dist/simple-lightbox.min.css";

* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
}